<div class="modal modal-blur fade" id="modal-edit-category" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактирование категории</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form hx-put="/categories" autocomplete="off" novalidate>
                <div class="modal-body">
                    <input type="hidden" id="id" name="id">

                    <label for="name" class="form-label">Название</label>
                    <input id="name" name="name" type="text" class="form-control"
                           placeholder="Ваше название">
                </div>
                <div class="modal-footer">
                    <button type="button" hx-delete="/categories"
                            class="btn btn-outline-danger me-auto"
                            data-bs-dismiss="modal">
                        Удалить
                    </button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Сохранить</button>
                </div>
            </form>

        </div>
    </div>
</div>
